@import './modules/episodes.less';
@import './modules/fanmadeshow.less';
@import './modules/index-header.less';
@import './modules/home-card-news.less';
@import './modules/navigation.less';
@import './modules/news.less';
@import './modules/signup.less';
@import './modules/summary.less';

// 清除citizen样式
.page-有兽档案馆_首页.action-view {
	#content {
		.citizen-body-container {
			all: unset;
			#bodyContent {
				#mw-content-text {
					all: unset;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.page-有兽档案馆_首页 {
		.mw-footer.citizen-footer {
			margin-top: 1rem;
		}
	}
}

// 主页内容卡片
.home-card {
	display: flex;
	flex-direction: column;
	background: linear-gradient(175deg, rgba(241, 245, 250, 1), rgba(255, 255, 255, 0.8) 40%);
	box-shadow: 0 0 10px 1px rgba(226, 226, 226, 0.5);
	border-radius: 0.5rem;
	box-sizing: border-box;
	padding: 1rem;
	min-width: 0;
	width: 100%;
}

// 主页内容卡片title
.home-card__label {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
}

// 主页内容卡片title图标
.home-card__label img {
	margin-right: 0.3rem;
}

// 去除对doc模板的影响
.page-有兽档案馆_首页,
.page-Template_首页,
.page-Fanmade_同人主页,
.page-Template_同人主页 {
	.template-documentation-body.mw-parser-output {
		display: block;
		margin: 1rem 0;
	}
}

// 暗模式
html.client-darkmode {
	.page-有兽档案馆_首页,
	.page-Template_首页,
	.page-Fanmade_同人主页,
	.page-Template_同人主页 {
		.mw-parser-output.mw-content-ltr .index-Inverted-color-filter {
			filter: invert(1) hue-rotate(180deg);
			-webkit-filter: invert(1) hue-rotate(180deg);
		}
	}
	// 首页暗模式
	.page-有兽档案馆_首页,
	.page-Template_首页 {
		.home-card {
			box-shadow: 0 0 10px 1px rgba(30, 30, 30, 0.9);
			background: linear-gradient(175deg, #292929, #353535 40%);
		}
		.mw-parser-output.mw-content-ltr::after {
			background: linear-gradient(90deg, transparent, #1e1e1e, transparent);
		}
		.mw-parser-output.mw-content-ltr img {
			filter: none;
			-webkit-filter: none;
		}
		.mw-parser-output.mw-content-ltr {
			filter: invert(1) hue-rotate(180deg);
			-webkit-filter: invert(1) hue-rotate(180deg);
			color: #fff;
			background-color: rgba(30, 30, 30, 0.9);
		}
	}

	// 同人主页暗模式样式
	.page-Fanmade_同人主页,
	.page-Template_同人主页 {
		.home-card {
			filter: invert(1) hue-rotate(180deg);
			-webkit-filter: invert(1) hue-rotate(180deg);
			color: #fff;
			box-shadow: 0 0 10px 1px rgba(30, 30, 30, 0.9);
			background: linear-gradient(175deg, #292929, #353535 40%);
		}
		.home-card img {
			filter: none;
			-webkit-filter: none;
		}
	}
}

/* index body */
.page-有兽档案馆_首页,
.page-Template_首页 {
	// 主页按钮
	.btn {
		text-align: center;
		padding: 0.3rem 1rem;
		background-color: var(--color-progressive);
		color: #fff !important;
		border-radius: 0.5rem;
		white-space: nowrap;
		font-weight: bold;
	}

	// 主页主体部分
	.mw-parser-output {
		max-width: 1200px;
		border-radius: 1rem;
		color: #000;
		margin: 1rem auto 0;
		display: flex;
		padding: 1.6rem;
		background-color: rgba(255, 255, 255, 0.9);
		box-sizing: border-box;
		position: relative;
	}

	// 主页主体部分背景渐变
	.mw-parser-output::after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
		background: linear-gradient(90deg, transparent, #fff, transparent);
	}

	// 内容区域
	.mw-parser-output-content {
		flex: auto;
		min-width: 0;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	// 内容区域布局
	.grid-2 {
		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr 1fr;
	}

	// 内容区域
	.mw-parser-output-list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	// 功能按钮部分布局
	.list-header-btn {
		margin: 0.5rem 0 1rem;
		width: 100%;
		display: grid;
		gap: 0.5rem;
		grid-template-columns: 1fr 1fr;
	}

	// 特殊样式用于要有些要显示在移动端contentbody下部的内容
	.mw-parser-output-content .content-footer {
		display: none;
	}

	.list.grid-2 {
		display: none;
	}

	@media screen and (max-width: 1232px) {
		.mw-parser-output {
			margin: 1rem;
		}
	}

	@media (min-width: 769px) and (max-width: 980px) {
		.grid-2 {
			display: grid;
			gap: 1rem;
			grid-template-columns: 1fr;
		}

		.content.grid-2 {
			display: none;
		}

		.list.grid-2 {
			display: grid;
		}
	}

	@media screen and (max-width: 768px) {
		.mw-parser-output {
			flex-direction: column-reverse;
			margin: 0;
			border-radius: 0;
			padding: 1rem;
		}

		// 特殊样式用于要有些要显示在移动端contentbody下部的内容
		.mw-parser-output-content .content-footer {
			display: block;
		}
		.mw-parser-output-list .content-footer {
			display: none;
		}
	}

	@media screen and (min-width: 768px) {
		.mw-parser-output-list {
			max-width: 320px;
			align-items: self-start;
		}

		.mw-parser-output-content {
			margin-right: 1rem;
		}
	}

	@media screen and (max-width: 580px) {
		.grid-2 {
			display: grid;
			gap: 1rem;
			grid-template-columns: 1fr;
		}
	}
}
